<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Customer</h1>

<table border="1px">
    <a href="/customers/create">Add new customer</a>
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Address</td>
        <td>Sửa</td>
        <td>Xóa</td>
    </tr>
    <th:block th:each="c:${listCustomer}">
        <tr>
            <td th:text="${c.name}"></td>
            <td th:text="${c.email}"></td>
            <td th:text="${c.address}"></td>
            <td><a th:href="@{/customers/edit/{id}(id=${c.id})}"> Sửa</a></td>
            <td><a th:href="@{/customers/delete/{id}(id=${c.id})}"> Xóa</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>
